<div class="last_invice" onclick="select_last_invice('{{p.id}}','{{a.invice_number}}','{{p.party_name}}','{{p.party_address}}','{{p.license_number}}','{{p.gst_number}}')">
    <div><h class="">Last Invice Number</h></div>
    <div><h class="">{{a.invice_number}}</h></div>
    <div><h class="">{{p.party_name}}</h></div>
    <div><h class="">{{p.party_address}}</h></div>
    <div class="">
        <div>{{ p.license_number|upper }}</div>
        <div>{{ p.gst_number|upper }}</div>
    </div>
</div>