{% extends 'home/base.html' %}
{% block content %}
{% include 'include/alert.html' %}
<style>
    *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    .footer {
        position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    background-color: rgb(233, 227, 227);
    text-align: center;
    }
    .footer input{
        width: 90%;
        margin: auto;
    }

    .item_box{
        overflow: hidden;
        width: 300px;
        border-radius: 20px;
        border: 1px solid rgba(0, 0, 0, 0.2);
        margin: auto;
        margin-top: 10px;
        margin-bottom: 20px;
    }
    .item_image{
        width: 100%;
        height: 100%;
        border-radius: 20px;
    }
    .item_image img{
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
    }
    .item_name{
        height: 50px;
        text-align: center;
        font-size: 20px;
        font-weight: 600;
        margin-top: 10px;
    }
    h6{
        margin-left: 10px;
    }
    .items, .item_footer{
        display: flex;
        justify-content: space-between;
        margin: 20px;
        margin-top: 1px;

    }
    .items div, .item_footer div{
        text-align: center;
        background-color: rgb(147, 247, 140);
        border-radius: 6.5px;
    }
    .price, .invice_number{
        width: 120px;
        text-align: center;
    }
    .qty, .date{
        width: 120px;
        text-align: center;
    }
    .invice_number, .date{
        border: 1px solid rgba(0, 0, 0, 0.5);
    }
    .add_btn{
        width: 80%;
        margin: auto;
        margin-bottom: 10px;
    }
    #search_ruselt{
        margin-bottom: 200px;
    }
    </style>
<h6>Welcome.{{m.medical_name}}</h6>
<input type="hidden" id="medical_id" value="{{m.id}}">
<a class="btn btn-danger" href="/owner/owner_dashboard/">back</a>

<div id="search_ruselt">

    <div>

    {% if i|length < 1 %}
    No Item
    {% else %}
  {% for i in i %}
  <form method="POST">{% csrf_token %}
    <div class="item_box">
        <div class="item_image"><img src="{{i.image.url}}" alt=""></div>
        <div class="item_name" >
            {{i.item_name}}
        </div>
        <input type="hidden" name="item_id" value="{{i.id}}">
        <div class="items">
            <div> <p>price</p> <input name="price" placeholder="price"  class="price form-control" type="number"></div>
            <div> <p>qty</p> <input name="add_qty" class="qty form-control" placeholder="qty" type="number"></div>
        </div>
        <div class="item_footer">
            <div> <p>invice number</p> <input name="invice_number" class="invice_number form-control" placeholder="invice number" type="text"></div>
            <div> <p>expiry date</p> <input name="expiry_date" class="date form-control" placeholder="date" type="text"></div>
        </div>
        <div class="add_btn">
            <button name="Add_Stock_Item" class="btn btn-success form-control">Add stock</button>
        </div>
    </div>
</form>
{% endfor %}
{% endif %}
</div>
</div>



    <div class="footer">
        <form method="GET">
            <input oninput="search_item()" type="text"  id="input_words" class="form-control" placeholder="search item">
        </form>
    </div>
    <script>   
 function search_item(){
    var words = document.getElementById('input_words').value;
    var medical_id = document.getElementById('medical_id').value;
    $.ajax({
        url: "{% url 'stock_item_filter' %}",
        method: "GET",
        data:{
            words:words,
            medical_id:medical_id,
      
            },
            success: function(res){
                $("#search_ruselt").html(res.data);
                //document.getElementById('#result').html(res.data);
            }
    })
 }
</script>
{% endblock content %}