{% extends 'home/base.html' %}
{% block content %}
{% include 'include/alert.html' %}
<style>
    *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    .item_box{
        overflow: hidden;
        width: 300px;
        border-radius: 20px;
        border: 1px solid rgba(0, 0, 0, 0.2);
        margin: auto;
        margin-top: 10px;
        margin-bottom: 20px;
    }
    .item_name{
        height: 50px;
        font-size: 20px;
        font-weight: 600;
        margin-top: 10px;
        margin-bottom: 10px;
        padding: 15px;
    }
    h6{
        margin-left: 10px;
    }
    .items, .item_footer{
        display: flex;
        justify-content: space-between;
        margin: 20px;
        margin-top: 1px;
        font-weight: 500;

    }
    .items div, .item_footer div{
        text-align: center;
        background-color: rgb(147, 247, 140);
        border-radius: 6.5px;
    }
    .items_qty{
        margin: 20px;
        margin-top: 1px;
        font-weight: 500;
        text-align: center;
        background-color: rgb(147, 247, 140);
        border-radius: 6.5px;
    }
    .items_qty_footer{
        display: flex;
        justify-content: space-between;
        margin-left: 5px;
        margin-right: 5px;
    }
    .qty_p{
        display: flex;
        justify-content: center;
        width: 100%;
    }
    .price, .invice_number{
        width: 120px;
        text-align: center;
    }
    .qty, .date{
        width: 120px;
        text-align: center;
    }
    .invice_number, .date{
        border: 1px solid rgba(0, 0, 0, 0.5);
    }
    .add_btn{
        width: 80%;
        margin: auto;
        margin-bottom: 10px;
    }

    .tpp{
        margin: auto;
        display: flex;
        background-color: rgb(255, 222, 161);
        width: fit-content;
        padding: 5px;
        border-radius: 20px;
        margin-bottom: 10px;


    }
    .total_qty{
        display: flex;
        justify-content: center;
    }
    .total_qty div{
        margin-right: 10px;
    }
    .item_filter{
        text-align: center;
        border: 1px solid rgb(200, 200, 200);
        margin: 10px;
    }
    .item_filter_footer{
        align-items: center;
        display: grid;
        grid-template-columns: 3fr 1fr;
        line-height: 5px;
    }
    </style>
<h6>Welcome.{{m.medical_name}}</h6>
<input type="hidden" id="medical_id" value="{{m.id}}">
<a class="btn btn-danger" href="/owner/owner_dashboard/">back</a>

<div>
    <div class="item_box">
<div id="search_ruselt">
        <div style="display: none;">
        {% for i in i %}
        <div class="item_filter" >
            <div >
                <div><h6>{{i.item_name}}</h6></div>
                <div class="item_filter_footer"  >
                    <div><p>{{i.company_name}}</p></div>

                    <div>
                        <form method="POST">
                            <input type="hidden" name="item_id"   value="{{i.id}}">
                            <button class="btn btn-danger btn-sm mb-1" name="Select_Item" >select</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
    <form method="POST">{% csrf_token %}
      <input type="hidden" name="medical_id" id="medical_id" value="{{m.id}}">

        <div class="item_name" >
            <input oninput="filter_item()" value="{{item.item_name}}" id="item_words" type="text" class="form-control" placeholder="Item Name" name="item_name" required>
        </div>
        <input type="hidden" name="item_id" value="{{i.id}}">
        <div class="m-3">
        <div><input type="text" value="{{item.company_name}}" name="company_name" placeholder="Company Name" class="form-control" ></div>
        <br>
            <div>
            <select class="form-select" name="item_type" aria-label="Default select example" >
                <option selected>Select Type</option>
                <option value="Capsules">Capsules</option>
                <option value="Drops">Drops</option>
                <option value="Injections">Injections</option>
                <option value="Tablet">Tablet</option>
                <option value="Inhalers">Inhalers</option>
                <option value="stationery">stationery items</option>
            </select>
        </div>
        </div>
        <div class="items">
            <div> <p>Purchase Price</p> <input  name="purchase_price" placeholder="Price" id="prc" oninput="calculte_price(),check_price()" class="price form-control" type="number" required></div>
            <div> <p>GST </p> <select  class="form-select" name="gst" aria-label="Default select example" id="gst" oninput="calculte_price()">
                <option selected value="0">Select %</option>
                <option value="5">5 %</option>
                <option value="10">10 %</option>
                <option value="12">12 %</option>
                <option value="18">18 %</option>
            </select></div>
        </div>
        <div class="items_qty">
            <div class="items_qty_footer">
                <div><p class="qty_p">Qty</p><input name="qty" class="qty for_qty sub form-control" id="qty" oninput="calculte_price(),calculte_qty(),check_qty()" placeholder="Qty" type="number" required></div>
                <div><p class="qty_p">Select Stripe</p><select name="qty_stripe" class="sub form-select" aria-label="Default select example" id="stripe" oninput="calculte_qty()">

                    <option value="1" selected>1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                    <option value="6">6</option>
                    <option value="7">7</option>
                    <option value="8">8</option>
                    <option value="9">9</option>
                    <option value="10">10</option>
                </select></div>

            </div>
            
            <div class="total_qty">
                <div><h6 class="qty_p">Total Qty</h6></div>
                <div><input type="hidden" name="temp_qty" id="set_qty"></input><strong id="set_qty_strong"></strong></div>
                </div>
        </div>
        <div class="tpp">
            <div><h6>Taxable Purchase Rs.</h6></div>
            <div><strong  id="set_prc_strong" ></strong><input type="hidden" name="total_purchase_price" id="set_prc"></div>
        </div>

        <div class="items_qty">
            <div class="items_qty_footer">
                <div><p class="qty_p">Discount Qty</p><input value="0"  name="disc_qty" class="qty for_qty sub form-control" id="d_qty" placeholder="Qty" type="number" oninput="calculte_discount_qty(),check_dic_qty()"></div>
                <div><p class="qty_p">Select Stripe</p><select  class="sub form-select" name="disc_qty_stripe" aria-label="Default select example" id="d_stripe" oninput="calculte_discount_qty()">
                    <option value="1" selected>1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                    <option value="6">6</option>
                    <option value="7">7</option>
                    <option value="8">8</option>
                    <option value="9">9</option>
                    <option value="10">10</option>
                </select></div>

            </div>
            
            <div class="total_qty">
                <div><h6 class="qty_p">Total Discount Qty</h6></div>
                <div><input type="hidden"  id="set_d_qty" name="disc_temp_qty" value="0"></input> <strong  id="set_d_qty_strong" name="disc_temp_qty"></strong></div>
                </div>
        </div>



        <div class="item_footer">
            <div> <p>Invice Number</p> <input name="invice_number" class="invice_number form-control" placeholder="Invice Number" type="text"></div>
            <div> <p>Expiry Date</p> <input name="expiry_date"  class="date form-control" type="date"></div>
        </div>


        <div class="item_footer">
            <div> <p>Batch <br> Number</p> <input name="batch_number" class="qty form-control" placeholder="Batch Number" type="text"></div>
            <div> <p>Sell Price <br> Per Unit </p> <input name="sell_price_per_unit" placeholder="Price"  class="price form-control" type="number" required></div>
        </div>
        <div class="add_btn">
            
            <button name="Add_Stock_Item" class="btn btn-success form-control">Add stock</button>
        </div>
    </form>
</div>
</div>



<script>
function calculte_price(){
    var price = document.getElementById('prc').value;
    var qty = document.getElementById('qty').value;
    var gst = document.getElementById('gst').value;
    p=qty*price
    var c = (parseFloat(p)*parseFloat(gst))/100;
    p+=c
    p = Math.ceil(p);
    document.getElementById('set_prc_strong').innerHTML=p;
    document.getElementById('set_prc').value=p;
}

function check_price(){
    var price = document.getElementById('prc').value;
    if (price < 0){
        document.getElementById('prc').value=0;
    }
    calculte_qty(),calculte_price()
}
function check_qty(){
    var qty = document.getElementById('qty').value;
    if (qty < 0){
        document.getElementById('qty').value=0;
    }
    calculte_qty(),calculte_price()
}

function check_dic_qty(){
    var d_qty = document.getElementById('d_qty').value;
    if (d_qty < 1){
        document.getElementById('d_qty').value=0;
    }
    calculte_discount_qty()
}


function calculte_qty(){
    var qty = document.getElementById('qty').value;
    var stripe = document.getElementById('stripe').value;
    q=qty*stripe
    q = Math.ceil(q);
    console.log(q)
    document.getElementById('set_qty').value=q;
    document.getElementById('set_qty_strong').innerHTML=q;
    
    }


function calculte_discount_qty(){
    var d_qty = document.getElementById('d_qty').value;
    var d_stripe = document.getElementById('d_stripe').value;
    d=d_qty*d_stripe
    d = Math.ceil(d);
    document.getElementById('set_d_qty').value=d;
    document.getElementById('set_d_qty_strong').innerHTML=d;
    
    }


function filter_item(){
    var words = document.getElementById('item_words').value;
    

    $.ajax({
        url: "{% url 'add_stock_item_filter' %}",
        method: "GET",
        data:{
            words:words
            },
            success: function(res){
                console.log(res.data)
                $("#search_ruselt").html(res.data);
                //document.getElementById('#result').html(res.data);
            }
    })
}
</script>
{% endblock content %}