{% extends 'home/base.html' %}
{% block content %}
<style>
    *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    .bd{
        display: flex;
        justify-content: space-between;
    }
    .customer_doctor_box{
      display: flex;
      justify-content: space-between;
    }
    .customer_box{
      padding: 10px;
      border: 1px solid rgba(0, 0, 0, 0.2);
    }
    .doctor_box{
      padding: 10px;
      border: 1px solid rgba(0, 0, 0, 0.2);
    }
    .print_foot{
      display: flex;
      justify-content: space-between;
    }
    .licen_gst{
      display: flex;
      justify-content: space-between;  
    }
</style>
<style media="print">
    @page{
    size: 4in 6in;
    margin: 0in;
    padding: 0in;
  }
  .bd{
        display: flex;
    }
  
  .p{
    display: none;
  }
  
  #t{
    font-size: 14px;
    line-height: 2px;
  }
  .bd{
        display: flex;
        justify-content: space-between;
    }
  </style>
<h6 class="p" >Welcome.{{m.medical_name}}</h6>
<a class="btn btn-danger m-3 p" href="/owner/owner_dashboard/">back</a>
<div class="container border">
        <div class="row">
            <div class="col-11">
                <h5 class="text-center">{{m.medical_name}}</h5>
            </div>
        </div>
        <div class="row">
            <div class="col-11">
            <h6 class="text-center">{{m.address}}</h6>
            <h6 class="text-center">{{m.mobile}}</h6>

            </div>
        </div>
        <div class="customer_doctor_box">

          {% if c == '' %}
          {% else %}

        <div class="customer_box">
          <div class="text-center">
            <h6>Patient Details</h6>
          </div>
          <div style="display: flex; gap: 20px;">
            <div class="customer_name"><h6>{{c.customer_name}}</h6></div>
            <div class="customer_mobile"><h6>{{c.mobile}}</h6></div>
          </div>
          <div class="text-center">
          <div class="customer_mobile"><h6>{{c.address}}</h6></div>
        </div>
        </div>
        {% endif %}

        {% if d == '' %}
        {% else %}
        <div class="doctor_box">
          <div class="text-center">
            <h6>Doctor Details</h6>
          </div>
          <div class="customer_name"><h6>{{d.doctor_name}}</h6></div>
          <div class="customer_mobile"><h6>{{d.degree}}</h6></div>
        </div>
        {% endif %}

      </div>
        <div class="bd">
            <div class="bill_number"><h6>Bill Number-  {{bill_number}}</h6></div>
            <div class="date"><h6>Date-  {{date}}</h6></div>
        </div>
    </div>
    
    <div class="container border">
          
        <table id="t" class="table mb-0">
          
          <thead>
            <tr>
              <div class="row">
              <div class="col-8"><th >Item </th></div>
              <div class="col-8"><th >Batch</th></div>
              <div class="col-8"><th >Expiry</th></div>
              <div class="col-1"><th >Qty</th></div>
              <div class="col-1"><th >Price</th></div>
              <div class="col-2"><th >Total Price</th></div>
            </div>
            </tr>
          
          </thead>
          <tbody>
            {% for o in o %}
            <tr>
              <div class="row">
              <div class="col-8"><td>{{o.add_stock.item_name}}</td></div>
              <div class="col-8"><td>{{o.add_stock.batch_number}}</td></div>
              <div class="col-8"><td>{{o.add_stock.expiry_date|date:"m-Y"}}</td></div>
              <div class="col-1"><td>{{o.qty}}</td></div>
              <div class="col-1"><td>{{o.sell_price_per_unit}}</td></div>
              <div class="col-2"><td>{{ o.total_price|floatformat:2 }}</td></div>
            </div>
            </tr>
            {% endfor %}
          </tbody>
        </table>
        <div class="licen_gst">
          <div>{{m.license_number}}</div>
          <div>{{m.gst_number}}</div>
          <div>{{m.jurisdiction}}</div>
        </div>
        <div class="print_foot">
          <div>
            <div>{{m.medical_name}}</div>
            <div style="margin-bottom: 30px;"></div>
            <div class="my-2" >pharmacists</div>
          </div>
          <div>
            <div><h6>Total Amount Rs. {{t}}</h6></div>
            <div>Thank You Visit Again</div>
          </div>
      </div>
      </div>
    

      <div class="container">
        <button type="button" class="btn btn-primary my-3 p" onclick="Bill_print()">Print</button>
      </div>
    
      <script>
        function Bill_print(){
            window.print();
            }
    
      </script>


{% endblock content %}